#container {
  display: flex;
  flex-direction: column;
  width: 150px;

  /* border-radius: 10px; */
  background: #95aaad;
  align-items: center;
  justify-content: left;
  text-align: center;
  height: 850px;

}

#container .navbar ul {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 150px;
  align-items: flex-start;
  justify-content: center;
  justify-content: flex-start;
  justify-content: left;
}

.calenders {
  height: 30px;
  width: 30px;
}
.create-btn{
  width: 100%;
  margin-left:-20px;
  text-align: center;
  margin-bottom: 29px;
}
.create-btns{
  background-color: rgb(77, 77, 186);
  width: 100%;
  width: 150px;
  margin-left:-33px;
  text-align: center;
  margin-bottom: 29px;
  cursor: pointer;
  padding-top: 12px;
}
