*body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.basic-info {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.ctns {
  content: "\003E";
}
.header2 {
  position: absolute;
  top: 100px;
  left: 180px;
}
.group {
  background-color: rgb(220, 243, 243);
  margin: 0px;
  padding: 0px;
  width: 1700px;
}



